/* punto 1 */
/* aggiunta fire emoji */
.stats-container :first-child>span::before {
    content: '🔥';
    display: block;
}

/* punto 2 */
/* gradiente a testo bianco */
.stats-container :nth-child(3) {
    background-image: linear-gradient(135deg,
            #6779e3 0%,
            #7551ab 100%,
            transparent);
}

.stats-container .stats-grid:nth-child(3)>* {
    color: white;
}

/* punto 3 */
/* ombre e sollevamento */
.stats-grid:hover {
    box-shadow: 5px 10px gray;
    translate: 0px -5px;
}

/* punto 4 */
/* bordo a sinistra e colore sfondo del workout plan "Forza e Resistenza" */
.workout-plan:nth-child(3) {
    background-color: #fff8ba;
    border-left: 5px solid #f39c12;
}

/* punto 5 */
/*  bordo e sfondo verde per il primo e l'ultimo esercizio*/
.exercise-item:first-child,
.exercise-item:last-child {
    border-color: #2ecc71;
    background-color: rgb(216, 255, 216);
}

/* punto 6 */
/* emoji del fulmine per schede esercizi in posizioni pari */
.exercise-item:nth-child(2n) .exercise-name::before {
    content: '⚡';
    display: block;
}

/* punto 7 e punto 8 */
/* ombre, bordi e transizione per campi di input */
input,
select {
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

input:focus,
select:focus {
    border: 1px solid #6779e3;
    box-shadow: 5px 5px 10px 0px blue;
    outline: none;
}

/* punto 9 */
/* modifiche save button */
.save-btn:hover {
    background-color: #3f71a3;
    translate: 2px;
    box-shadow: 2px 2px 10px blue;

}

/* punto 10 */
/* modificata posizione e colore della percentuale di completamento */
.progress-fill {
    position: relative;
}

.progress-fill::before {
    content: "65%";
    position: absolute;
    top: -7px;
    right: 0px;
    color: white;
}

/* punto 11 e punto 12 */
/* sfondo più scuro e testo blu. */
a:hover {
    background-color: #34495e;
    color: blue;
}

/* primo link in stato sempre attivo */
a:first-child {
    background-color: #34495e;
    color: blue;
}

/* punto 13 */
/* virgolette decorative per la citazione */
.quote-box {
    position: relative;
}

.quote-box>p::before {
    content: '"';
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    translate: -29px -33px;
    font-size: 4rem;
}

.quote-box>p::after {
    content: '"';
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    translate: 80px -35px;
    font-size: 4rem;
}

/* bonus */
a {
    transition: width 0.3s;
}

a:hover {
    width: 26%;
}

.save-btn{
    transition: box-shadow 0.3s ease, translate 0.3s ease;
}

.stats-grid{
    transition: all 0.3s ease;
}