/* punto 1 */
/* aggiunta fire emoji */
.stats-container :first-child > span:before{
    content: '🔥';
    display: block;
}

/* punto 2 */
/* gradiente a testo bianco */
.stats-container :nth-child(3){
    background-image: linear-gradient(
        135deg,
        #6779e3 0%,
        #7551ab 100%,
        transparent
    );
}

.stats-container .stats-grid:nth-child(3) > *{
    color: white;
}

/* punto 3 */
/* ombre e sollevamento */
.stats-grid:hover{
    box-shadow: 5px 10px gray;
    translate: 5px;
}

/* punto 4 */
/* bordo a sinistra e colore sfondo del workout plan "Forza e Resistenza" */
.workout-plan:nth-child(3){
    background-color: #fff8ba;
    border-left: 5px solid #f39c12;
}